<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/baseManage.html}">
<div class="container-fluid" layout:fragment="main-content">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:insert="template/sidebar.html"/>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 info-right">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <div th:insert="template/navbar.html"/>
            </div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <div class="text-center w-100 mb-0">
                        <h3 class="page-title">ユーザー一覧</h3>
                    </div>
                </div>
                <!--header -->
                <div class="list-form">
                    <div class="row">
                        <div class="col">
                            <form th:action="@{/M/M02}" th:object="${account}" method="get">
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-8 col-lg-6">
                                        <label for="">氏名</label>
                                        <input type="text" th:field="*{fullName}" class="form-control" id=""
                                               placeholder="" value="">
                                    </div>
                                    <div class="form-group col-md-4 col-lg-2">
                                        <label for=""></label>
                                        <button type="submit" class="btn btn-accent w-100">検索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:action="@{/M/M02}" th:object="${account}" method="get" class="table-log">
                    <div class="nav d-flex justify-content-end">
                        <a class="" th:href="@{/M/M02_01}"><i class="fas fa-plus-circle mr-1" aria-hidden="true"></i>ユーザー追加</a>
                    </div>
                    <div class="card card-small mt-4 mb-4">
                        <div class="card-body p-0 text-center">
                            <div class="table-responsive card-border">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">No</th>
                                        <th scope="col" class="border-0">氏名</th>
                                        <th scope="col" class="border-0">ログインID</th>
                                        <th scope="col" class="border-0">メール</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:unless="${accounts.empty}" th:each="account,indexPath : ${accounts}">
                                        <td th:text="${indexPath.index}"></td>
                                        <td><a th:text="${account.fullName}"
                                               th:href="@{/M/M02_02(loginId=${account.loginId})}"
                                               class="link-text"></a></td>
                                        <td th:text="${account.loginId}"></td>
                                        <td th:text="${account.mailAddress}"></td>
                                    </tr>
                                    </tbody>
                                    <tbody th:if="${accounts.empty}">
                                    <tr>
                                        <td class="text-center">No data available in table</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="scripts/font-icon.js"></script>
<script src="scripts/jquery-3.3.1.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/Chart.min.js"></script>
<script src="scripts/shards-dashboards.1.1.0.min.js"></script>
</body>
</html>
