<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/baseManage.html}">
<div class="container-fluid" layout:fragment="main-content">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:insert="template/sidebar"/>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 info-right">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <div th:insert="template/navbar"/>
            </div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <div class="text-center w-100 mb-0">
                        <h3 class="page-title">ユーザー一覧</h3>
                    </div>
                </div>
                <!--header -->
                <div class="list-form">
                    <div class="row">
                        <div class="col">
                            <form th:action="@{/M/M02}" th:object="${account}" method="get">
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-md-8 col-lg-6">
                                        <label for="">氏名</label>
                                        <input type="text" th:field="*{fullName}" class="form-control" id=""
                                               placeholder="" value="">
                                    </div>
                                    <div class="form-group col-md-4 col-lg-2">
                                        <button type="submit" class="btn btn-accent w-100"
                                                style="position:absolute; bottom:1px">検索
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:href="@{/M/M02}" class="table-log">
                    <div class="nav d-flex justify-content-end">
                        <a class="" th:href="@{/M/M02_01}"><i class="fas fa-plus-circle mr-1" aria-hidden="true"></i>ユーザー追加</a>
                    </div>
                    <div class="card card-small mt-4 mb-4">
                        <div class="card-body p-0 text-center">
                            <div class="table-responsive card-border">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">No</th>
                                        <th scope="col" class="border-0">氏名</th>
                                        <th scope="col" class="border-0">ログインID</th>
                                        <th scope="col" class="border-0">メール</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:unless="${accounts.empty}" th:each="account,indexPath : ${accounts}">
                                        <td th:text="${indexPath.index + 1 + 10*(currentPage-1)}"></td>
                                        <td><a th:text="${account.fullName}"
                                               th:href="@{/M/M02_02(loginId=${account.loginId})}"
                                               class="link-text"></a></td>
                                        <td th:text="${account.loginId}"></td>
                                        <td th:text="${account.mailAddress}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:if="${accounts.empty}">
                                    <span class="text-center" style="line-height: 40px">テーブルにデータがありません</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-10">
                            <div class="col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{/M/M02(page=${i},fullName=${account.fullName})}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                            </div>
                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{/M/M02(page=${currentPage + 1},fullName=${account.fullName})}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{/M/M02(page=${totalPages},fullName=${account.fullName})}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
