<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/baseManage.html}">
<div class="container-fluid" layout:fragment="main-content">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:insert="template/sidebar"/>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 info-right">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <div th:insert="template/navbar"/>
            </div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <a href="M02" type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-left" aria-hidden="true"></i></a>
                    <div class="text-center w-100 mb-0 mt-30">
                        <h3 class="page-title">ユーザー詳細</h3>
                    </div>
                </div>
                <!--header -->
                <div class="list-form-info">
                    <div class="row">
                        <div class="col">
                            <form name= "detailUser" method="post" th:action="@{/M/M02_02}" th:object="${account}">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{loginId}"/>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">氏名</label>
                                    <div class="col-md-9">
                                        <input type="text" th:value="${fullName}" th:field="*{fullName}" class="form-control form-ctrl" autofocus/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">ログインID</label>
                                    <div class="col-md-9">
                                        <input type="text" th:value="${loginId}" th:field="*{loginId}" class="form-control form-ctrl" id="loginId" value="" disabled/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">パスワード</label>
                                    <div class="col-md-9">
                                        <input type="text" th:value="${password}" th:field="*{password}" class="form-control form-ctrl" id="password" value=""/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">メール</label>
                                    <div class="col-md-9">
                                        <input type="text" th:value="${mailAddress}" th:field="*{mailAddress}" class="form-control form-ctrl" id="mailAddress" value=""/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">権限</label>
                                    <div class="col-md-9">
                                        <select th:value="${authorities}" th:field="*{authorities}" class="selectpicker form-control" title="&nbsp;">
                                            <option th:each="authority : ${T(jp.co.demo.enums.Authorities).values()}"
                                                    th:value="${authority}"
                                                    th:text="${authority}"
                                                    th:selected="${authority.name() == authorities}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <form>
                                    <div class="text-center mt-4">
                                        <button type="submit" name="Edit" value="Edit" class="btn btn-primary btn-120 mr-4"  role="button" aria-pressed="true" data-toggle="modal" data-target="#M02">編集</button>
                                        <button type="submit" name="Delete" value="Delete" class="btn btn-danger btn-120"  role="button" aria-pressed="true" data-toggle="modal" data-target="#M02">削除</button>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<!-- Modal -->
<div class="modal fade" id="M02_02" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-370" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                情報を編集してよろしでしょうか?
            </div>
            <div class="modal-footer justify-content-center border-top-0">
                <a type="button" class="btn btn-primary btn-80 mr-4" href="M02.html">はい</a>
                <a type="button" class="btn btn-secondary btn-80" data-dismiss="modal">いいえ</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="M02_02_01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-370" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                情報を削除してよろしでしょうか?
            </div>
            <div class="modal-footer justify-content-center border-top-0">
                <a type="button" class="btn btn-primary btn-80 mr-4" href="M02.html">はい</a>
                <a type="button" class="btn btn-secondary btn-80" data-dismiss="modal">いいえ</a>
            </div>
        </div>
    </div>
</div>
<script src="scripts/font-icon.js"></script>
<script src="scripts/jquery-3.3.1.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/Chart.min.js"></script>
<script src="scripts/bootstrap-select.min.js"></script>
<script src="scripts/shards-dashboards.1.1.0.min.js"></script>
</html>
