<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/baseManage.html}">

<div class="container-fluid" layout:fragment="main-content">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:insert="template/sidebar"/>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 info-right">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <div th:insert="template/navbar"/>
            </div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <div class="text-center w-100 mb-0">
                        <h3 class="page-title">パスワード変更</h3>
                    </div>
                </div>
                <!--header -->
                <div class="list-form-info">
                    <div class="row">
                        <div class="col">
                            <form name= "Change Password" th:action="@{/M/M03}" th:object="${account}" th:method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{loginId}"/>
                                <div class="form-group row">
                                    <label for="old_password" class="col-sm-3 col-form-label">現在パスワード</label>
                                    <div class="col-sm-9">
                                        <input  type="password" th:value="${password}" th:field="*{password}" class="form-control form-ctrl" id="old_password" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="new_password" class="col-sm-3 col-form-label">新パスワード</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control form-ctrl" id="new_password" name="new_password" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirm_password" class="col-sm-3 col-form-label">新パスワード確認</label>
                                    <div class="col-sm-9">
                                        <input type="password" th:field="*{confirm_password}" class="form-control form-ctrl" id="confirm_password" name="confirm_password" required/>
                                    </div>
                                </div>
                                <div class="text-center mt-4" id="change_password">
                                    <button type="button" name="submit" id="submit" class="btn btn-primary btn-120 fz-16" role="button" aria-pressed="true" data-toggle="modal">変更</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/validation.js}"></script>
</div>
<!-- Modal -->
<div class="modal fade" id="M03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-370" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                パスワードを変更してよろしでしょうか?
            </div>
            <div class="modal-footer justify-content-center border-top-0 bs-example">
                <a type="button" class="btn btn-primary btn-80 mr-4">はい</a>
                <a type="button" class="btn btn-secondary btn-80" data-dismiss="modal">いいえ</a>
            </div>
        </div>
    </div>
</div>
<!-- alerts thông báo thành công -->
<!-- <div class="alert alert-success" role="alert">
    パスワードを変更に成功しました。
</div> -->
</html>
